mat-nav-list {
  width: 95%
}

mat-list-item{
  border-radius: 0 24px 24px 0  ;
  transition: all 200ms;
}

mat-list-item:hover{
  background-color: #039be5 !important;
}

.activeLink {
  background-color: #039be5 !important;
}

a, 
a:link,
a:visited,
a:active {
  color: white;
  font-size: 14px;
  font-family: muliregular;
}