<div class="container" fxLayout fxLayoutAlign="space-between">
  <div fxLayout="column" 
    fxLayoutAlign="center start" 
    fxLayoutGap="40px"
    fxFlex="1 1 70%"
    class="presentation"
    >
    <div class="logo">
      <mat-icon svgIcon="logo"></mat-icon>
    </div>
    <h2>Sistema de ambulancia</h2>
  </div>

  <div fxLayout fxFlex="1 1 30%" class="login">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px"
      [formGroup]="form">
      <h3>Ingrese credenciales</h3>
      <div fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
            <input type="text" formControlName="correo" matInput required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="form.get('correo')?.hasError('required')">El correo es obligaotorio</mat-error>
            <mat-error *ngIf="form.get('contrasena')?.hasError('email')">Debe ser un correo.</mat-error>
          </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
            <input type="password" formControlName="contrasena" matInput required>
            <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
      <div fxLayout="column" class="credenciales">
        <button type="button" mat-raised-button color="primary"
          (click)="enter()">INGRESAR</button>
      </div> 
    </form> 
  </div>
</div>