.container {
  height: 100vh;
  background-image: url(/assets/img/background.png);
}

.presentation {
  padding: 150px;
}

.presentation mat-icon {
  width: 100px;
  height: 100px;
}

.presentation h2 {
  font-size: 42px;
}

.login {
  background-color: white;
}

.login h3 {
  color: rgba(0, 0, 0, 87);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px !important;
  font-weight: normal;
  font-size: 21px;
}

.login .credenciales {
  width: 90%;
}